.searchClass {
  position: relative; /* Đổi thành relative để không che nội dung */
  background-color: #ffffff;
  padding: 10px 35px;
  width: 100%; /* Đảm bảo phần tìm kiếm chiếm toàn bộ chiều ngang */
  margin-bottom: 16px;
  padding-top: 80px; /* Tạo khoảng cách để không bị header che */
}

.rowClass {
  padding-bottom: 20px;
  background-color: #ffffff;
}
.colClass {
  display: flex; /* Sử dụng flexbox để căn đều các cột */
  flex-wrap: wrap;
}
.frameClass {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}
.audioClass {
  display: flex; /* Sửa lại, không cần dấu nháy đơn */
  align-items: center;
  justify-content: space-between;
}
.engClass {
  font-size: 16px;
}
.viClass {
  display: block;
  margin-top: 8px;
}
.emptyClass {
  margin-top: 150px;
}
.spinClass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinDivClass {
  position: relative;
  height: 300px;
}


.bookClass{
  padding-left: 16px;
  background-color: #ffffff;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .contentClass {
    padding: 16px;
    background-color: #ffffff;
    padding-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .contentClass {
    padding: 16px;
    background-color: #ffffff;
    padding-bottom: 40px;
  }
}